
.wrapper {
  composes: calderLC from '../../shared/css/fonts.css';
  &::before {
    @media $tabletDown {
      background: $orange;
      display: block;
      content: " ";
      height: 26px;
      width: 100%;
    }
    @media $tablet {
      height: 20px;
    }
  }
}
