
.wrapper {
  composes: calderLC from '../../shared/css/fonts.css';
  &::before {
    @media all and (max-width: 1399px) {
      background: $orange;
      display: block;
      content: " ";
      height: 26px;
      width: 100%;
    }
    @media all and (min-width: 768px) {
      height: 20px;
    }
  }
}
