body {
  background-color: $orange;
  color: $navy;
  height: 100%;
  overflow-x: hidden;
  a {
    color: $navy;
    text-decoration: none;
    &:hover {
      color: $almostWhite;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      img {
        filter: brightness(100);
        -webkit-filter: brightness(100);
      }
    }
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1248px;
  min-height: 850px;
  text-align: center;
}
