.footer {
  margin-top: 100px;
}
.sponsorsWrapper {
  background: $lighterGrey;
  margin-bottom: 2px;
  padding: 10px 20px;
  text-align: center;
  @media $tablet {
    margin-bottom: 5px;
    padding: 22px 20px 20px;
    text-align: left;
  }
  .sponsors {
    @media $tablet {
      display: flex;
      height: 28px;
      margin: 0 auto;
      width: 438px;
    }
    p {
      margin-bottom: 10px;
      @media $tablet {
        flex-grow: 1;
        margin: 0;
        padding: 4px 0px;
      }
    }
  }
  .sponsorsContainer {
    display: flex;
    justify-content: center;
    line-height: 28px;
    img {
      max-height: 55px;
      margin-top: -14px;
      vertical-align: middle;
      width: auto;
    }
  }
}

.credits {
  background: $lightGrey;
  padding: 20px;
  text-align: center;
  @media $tablet {
    padding: 26px 20px 24px;
  }
}
