.footer {
  background: url('../../shared/images/bg_footer.png') top center no-repeat;
  background-size: cover;
  height: 528px;
  margin-top: 100px;
  text-align: center;
}
.logo {
  margin-top: 54px;
  width: 98px;
}
.info {
  color: $grey;
  margin: 20px 0 40px;
  .social {
    img {
      height: 14px;
      margin-top: 4px;
      width: auto;
    }
  }
  .social {
    + .separator {
      display: inline;
    }
    a:hover {
      border-bottom: 1px solid;
      padding-top: 8px;
    }
  }
}
.heading {
  width: 140px;
}
.sponsorsContainer {
  display: flex;
  justify-content: center;
  img {
    filter: grayscale(100%) brightness(240%);
    -webkit-filter: grayscale(100%) brightness(240%);
    margin: 20px 10px;
    transform: scale(1.65);
    width: 100px;
  }
}
.credits {
  composes: calderDark from '../../shared/css/fonts.css';
  color: $blue;
  font-size: 10px;
  padding: 20px;
  text-align: center;
  a {
    color: $blue;
  }
}
