.header {
  @media all and (min-width: 1400px) {
    background: $orange;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 50%;
  }
  .backgroundImageWrapper {
    display: none;
    @media all and (min-width: 1400px) {
      display: block;
      left: 50%;
      margin-top: 315px;
      position: absolute;
      img {
        left: -50%;
        position: relative;
        width: 720px;
      }
    }
  }
}
.info {
  font-size: 13px;
  line-height: 1.25rem;
  margin-top: 30px;
  text-align: center;

  @media all and (max-width: 768px) {
    display: none;
  }
  @media all and (min-width: 1400px) {
    margin-top: 50px;
  }
  .social {
    img {
      height: 14px;
      margin-top: 5px;
      width: auto;
    }
  }
  .social {
    + .separator {
      display: inline;
    }
    a:hover {
      border-top: 1px solid;
      padding-top: 8px;
    }
  }
  @media all and (min-width: 1000px) and (max-width: 1200px) {
    .venue {
      display: block;
      + .separator {
        display: none;
      }
    }
  }
}
.logo {
  @media all and (max-width: 767px) {
    margin: -8px 0 0 8px;
    text-align: left;
    img {
      width: 110px;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1399px) {
    margin: -12px 0 0 24px;
    position: absolute;
    top: 26px;
    img {
      width: 126px;
    }
  }
  @media all and (min-width: 1400px) {
    text-align: center;
    img {
      margin-top: 30px;
      width: 310px;
    }
  }
}
