.headerWrapper {
  @media $desktop {
    min-width: 35%;
  }
  @media $wide {
    min-width: 40%;
  }
  @media $extraWide {
    min-width: 50%;
  }
  .header {
    @media $desktop {
      background: $orange;
      border-right: 2px solid;
      height: 100%;
      min-width: 35%;
      max-width: 50%;
      overflow: hidden;
      position: fixed;
      top: 0;
    }
    @media $wide {
      min-width: 40%;
    }
    @media $extraWide {
      min-width: 50%;
    }
    .backgroundImageWrapper {
      display: none;
      @media $desktop {
        display: block;
        left: 50%;
        margin-top: 295px;
        position: absolute;
        img {
          left: -50%;
          position: relative;
          width: 720px;
        }
      }
      @media $wide {
        margin-top: 304px;
      }
    }
  }
}
.info {
  font-size: 13px;
  line-height: 1.25rem;
  margin-top: 26px;
  text-align: center;

  @media $smallOnly {
    display: none;
  }
  @media $desktop {
    margin-top: 46px;
  }
  .social {
    img {
      height: 14px;
      margin-top: 4px;
      width: auto;
    }
  }
  .social {
    + .separator {
      display: inline;
    }
    a:hover {
      border-bottom: 1px solid;
      padding-top: 8px;
    }
  }
}
.logo {
  position: relative;
  .desktopLogo {
    display: none;
  }
  @media $smallOnly {
    margin: -5px 0 0 8px;
    text-align: left;
    img {
      width: 110px;
    }
  }
  @media $tabletOnly {
    margin: -12px 0 0 24px;
    position: absolute;
    top: 26px;
    img {
      width: 126px;
    }
  }
  @media $desktop {
    .mobileLogo {
      display: none;
    }
    .desktopLogo {
      display: inherit;
    }
    text-align: center;
    img {
      margin-top: 20px;
      width: 275px;
    }
  }
  @media $wide {
    text-align: center;
    img {
      margin-top: 24px;
      width: 310px;
    }
  }
}
