
.overlayMenu {
  background-color: $navy;
  color: $almostWhite;
  height: 100vh;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  width: 50vw;
  z-index: 999;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuItem,
.menuItemSmall {
  a {
    color: $almostWhite;
  }
}
.menuItem {

}
.menuItemSmall {

}
