
/* Menu Toggle Button */
.menuButton {
  background-color: $navy;
  border: 0 none;
  color: $almostWhite;
  cursor: pointer;
  height: 56px;
  position: fixed;
  right: 0;
  top: 0;
  width: 56px;
  z-index: 1000;
  &:focus {
    outline: none;
  }
}

/* Menu Button Animation */
.menuButton {
  &:before,
  &:after {
    background-color: $navy;
    display: block;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  &:before {
    bottom: -4px;
  }
  &:after {
    bottom: -8px;
  }
  &:hover {
    &:before {
      bottom: -8px;
    }
    &:after {
      bottom: -16px;
    }
  }
}
.menuButton.active {
  overflow: hidden;
  &:before,
  &:after {
    left: -50%;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: 100% 0;
    width: auto;
  }
  &:before {
    background-color: $almostWhite;
    bottom: 58px;
  }
  &:after {
    height: 3px;
    bottom: 54px;
  }
}
.menuButton.inactive {
  &:before {

  }
  &:after {

  }
}

/* Expanding / Collapsing Overlay */
.menuOverlay {
  background-color: yellow;
  color: $almostWhite;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  z-index: 999;
}
.menuOverlay.inactive {
  height: 56px;
  transition: width 0.5s linear, height 0.5s linear 0.5s;
  width: 56px;
}
.menuOverlay.active {
  height: 100vh;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
  width: 50vw;
}

/* Menu Items */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuItem,
.menuItemSmall {
  a {
    color: $almostWhite;
  }
}
