.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../../../shared/css/global.css';
  @media $desktop {
    min-width: 50%;
    width: 100%;
  }
}
.title {
  composes: title from '../../../../shared/css/global.css';
}
.detail {
  composes: contentArea from '../../../../shared/css/global.css';
  margin-top: 6px;
  @media $tablet {
    width: calc(75% - 40px);
  }
  .mainContent {
    @media $tablet {
      margin-right: 40px;
    }
  }
}
