/**
 * Fonts (Typekit Kit ID: rgi7wxl)
 * =============================================================================
 */

/* Calder */
.calderLC {
  font-family: "calder-lc", sans-serif;
}
.calderDark {
  font-family: "calder-dark", sans-serif;
}
.calderDarkOutline {
  font-family: "calder-dark-outline", sans-serif;
}
