* {
  box-sizing: border-box;
}
body {
  background-color: $almostWhite;
  color: $navy;
  font-size: 13px;
  height: 100%;
  line-height: 1.25rem;
  overflow-x: hidden;
  a {
    color: $navy;
    text-decoration: none;
  }
  p {
    margin: 0 0 1.25rem;
    a {
      box-shadow: inset 0 -1px 0 $yellow;
      color: $navy;
      text-decoration: none;
      transition: background .3s ease-out;
      &:hover {
        background: $yellow;
      }
    }
  }
  strong {
    font-weight: normal;
  }
  em {
    font-style: normal;
  }
  h1 {
    font-family: "calder-dark", sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin-top: 55px;
    @media $tablet {
      margin-top: 60px;
    }
  }
  h2 {
    font-family: "calder-dark", sans-serif;
    font-size: 26px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    margin: 2.25rem 0 23px;
  }
  h4 {
    line-height: 1rem;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
  }
  ul {
    list-style: none;
    margin: 0 0 1.25rem;
    padding-left: 0;
    li {
      background: url('../images/plus.svg') left 5px no-repeat;
      background-size: 8px;
      margin-bottom: 1.25rem;
      padding-left: 20px;
      a {
        box-shadow: inset 0 -1px 0 $yellow;
        color: $navy;
        text-decoration: none;
        transition: background .3s ease-out;
        &:hover {
          background: $yellow;
        }
      }
    }
  }
  ol {
    margin: 0 0 1.25rem;
    padding-left: 20px;
    li {
      margin-bottom: 1.25rem;
      a {
        box-shadow: inset 0 -1px 0 $yellow;
        color: $navy;
        text-decoration: none;
        transition: background .3s ease-out;
        &:hover {
          background: $yellow;
        }
      }
    }
  }
}

h3 {
  font-family: "calder-lc", sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 2.5rem 0 1.5rem;
}

h4 {
  font-family: "calder-dark", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.title {
  font-size: 30px;
  line-height: 40px;
  margin: 50px 20px 30px;
  @media $tablet {
    margin: 60px 40px 8px;
    max-width: calc(75% - 100px);
  }
  @media $desktop {
    margin-top: 50px;
  }
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  img {
    max-width: 100%;
  }
}
.contentArea {
  flex: 1 0 auto;
  margin: 0 20px;
  @media $tablet {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
  }
}
.field {
  border-top: 1px dashed $grey;
  min-width: calc(50% - 10px);
  padding: 6px 0 13px;
  a {
    box-shadow: inset 0 -1px 0 $yellow;
    color: $navy;
    text-decoration: none;
    transition: background .3s ease-out;
    &:hover {
      background: $yellow;
    }
  }
}
