.body {
  p {
    display: inline;
  }
}
.field {
  div {
    display: inline;
  }
}
.teaserWrapper {
  border-bottom: 1px dashed $grey;
  padding: 42px 20px 34px;
  @media $tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
  h3 {
    margin-top: 0;
  }
  &:hover {
    background: $almostWhite;
  }
}
.fieldLabel {
  composes: calderDark from '../../shared/css/fonts.css';
  margin-right: 10px;
}

.lightText {
  composes: calderLC from '../../shared/css/fonts.css';
  text-transform: uppercase;
}
