.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../shared/css/global.css';
  @media $desktop {
    min-width: 50%;
    width: 100%;
  }
}

.detail {
  @media $tablet {
    width: calc(75% - 40px);
  }
}
.newsTeaser {
  background: red;
}
