.wrapper {
  padding: 2em;
  @media (min-width: 1000px) {
    padding: 72px 2em;
  }
  @media (min-width: 1350px) {
    padding: 72px 0;
  }
  .backgroundWrapper {
    left: 50%;
    margin-top: 320px;
    position: absolute;
    @media (min-width: 360px) {
      margin-top: 300px;
    }
    @media (min-width: 501px) {
      margin-top: 320px;
    }
    @media (min-width: 667px) {
      margin-top: 276px;
    }
    @media (min-width: 1000px) {
      margin-top: 94px;
    }
    .backgroundImage {
      left: -50%;
      position: relative;
      @media (max-width: 500px) {
        width: 600px;
      }
      @media (min-width: 501px) {
        width: 800px;
      }
      @media (min-width: 1200px) {
        width: 918px;
      }
    }
  }
}
.prospectus {
  composes: calderDark from '../../shared/css/fonts.css';
  font-size: 17px;
  line-height: 1.5rem;
  margin: 2em auto 0;
  width: 200px;
  @media (min-width: 1000px) {
    margin-top: 516px;
  }
  @media (min-width: 1200px) {
    margin-top: 560px;
  }
  img {
    display: block;
    margin: 0 auto 10px;
    width: 22px;
  }
}
