.newsletter {
  composes: calderLC from '../../shared/css/fonts.css';
  max-width: 210px;
  padding: 0 0 100px;
  @media screen and (min-width: 700px) {
    padding: 55px 0 100px;
  }
  img {
    display: block;
    height: auto;
    margin: 0 auto 26px;
    max-width: 100%;
    width: 168px;
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  input[type=email], input[type=text], textarea {
    font-size: 13px;
    font-family: "calder-lc", sans-serif;
    background: $navy;
    border: 1px solid $almostWhite;
    border-radius: 2px;
    box-sizing: border-box;
    color: $almostWhite;
    padding: 17px 15px;
    margin: 0 0 16px;
    width: 100%;
    &::placeholder {
      color: $almostWhite;
    }
    &:focus {
      outline: none;
    }
  }
  .submit {
    margin: 8px 0 0;
    text-align: center;
    input {
      background-color: $orange;
      border: 1px solid $orange;
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      color: $almostWhite;
      font-family: "calder-dark", sans-serif;
      font-size: 13px;
      padding: 5px 27px 4px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.1s ease-out;
      &:active,
      &:focus,
      &:hover {
        background: $orange_darken10;
        border-color: $orange_darken10;
        color: $almostWhite;
        outline: none;
      }
    }
  }
}
