.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../shared/css/global.css';
  @media $desktop {
    min-width: 50%;
  }
}
.title {
  margin: 55px 20px 75px;
  @media $tablet {
    margin: 60px 40px 1.5rem;
    max-width: calc(75% - 100px);
  }
}
.detail {
  composes: contentArea from '../../shared/css/global.css';
  .section {
    min-width: 25%;
    @media $xs_small {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    .field {
      border-top: 2px dashed $grey;
      min-width: calc(50% - 10px);
      padding: 10px 0 20px;
    }
  }
  .mainContent {
    @media $tablet {
      margin-right: 40px;
    }
    .bio {
      background: $yellow;
      margin-top: 40px;
      padding: 20px;
      @media $tablet {
        margin-top: 60px;
        padding: 30px;
      }
      .bioNames {
        margin-bottom: 1.5rem;
      }
    }
  }
}
.fieldLabel,
.bioName {
  composes: calderDark from '../../shared/css/fonts.css';
}
