@media all and (min-width: 60em) {.components-NotFound-styles__contentWrapper--BSKz1 {
    display: flex
}
  }
.components-NotFound-styles__content--3dHuV {
}
@media all and (min-width: 60em) {
.components-NotFound-styles__content--3dHuV {
    min-width: 50%;
    width: 100%
}
  }

.components-NotFound-styles__detail--31-rH {
  flex-direction: unset;
}

@media all and (min-width: 41.75em) {

.components-NotFound-styles__detail--31-rH {
    width: calc(75% - 40px)
}
  }

@media all and (min-width: 60em) {.components-BasicPage-styles__contentWrapper--34gH1 {
    display: flex
}
  }
.components-BasicPage-styles__content--ckqd_ {
}
@media all and (min-width: 60em) {
.components-BasicPage-styles__content--ckqd_ {
    min-width: 50%;
    width: 100%
}
  }
.components-BasicPage-styles__title--2IhUF {
}
.components-BasicPage-styles__detail--3NLk4 {
  margin-top: 6px;
}
@media all and (min-width: 41.75em) {
.components-BasicPage-styles__detail--3NLk4 {
    margin-top: 8px;
    width: calc(75% - 40px)
}
  }
@media all and (min-width: 41.75em) {
.components-BasicPage-styles__detail--3NLk4 .components-BasicPage-styles__mainContent--1VXd2 {
      margin-right: 40px
  }
    }
.components-BasicPage-styles__detail--3NLk4 .components-BasicPage-styles__mainContent--1VXd2 span h2:first-child,
      .components-BasicPage-styles__detail--3NLk4 .components-BasicPage-styles__mainContent--1VXd2 span h3:first-child {
        margin-top: 0;
      }

/**
 * Fonts (Typekit Kit ID: rgi7wxl)
 * =============================================================================
 */

/* Calder */
.shared-css-fonts__calderLC--1nri- {
  font-family: "calder-lc", sans-serif;
}
.shared-css-fonts__calderDark--1bp9m {
  font-family: "calder-dark", sans-serif;
}
.shared-css-fonts__calderDarkOutline--2da16 {
  font-family: "calder-dark-outline", sans-serif;
}

@media all and (min-width: 60em) {.pages-happenings--happeningName--styles__contentWrapper--31uE_ {
    display: flex
}
  }
.pages-happenings--happeningName--styles__content--1JGmQ {
}
@media all and (min-width: 60em) {
.pages-happenings--happeningName--styles__content--1JGmQ {
    min-width: 50%;
    width: 100%
}
  }
.pages-happenings--happeningName--styles__title--kONLf {
}
.pages-happenings--happeningName--styles__detail--3jGgg {
  flex-direction: row-reverse;
}
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__section--nIZor {
    margin-bottom: 26px;
    min-width: 25%;
  }
@media all and (min-width: 25em) and (max-width: 41.6875em) {
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__section--nIZor {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }
    }
@media all and (min-width: 41.75em) {
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__section--nIZor {
      margin-bottom: 40px
  }
    }
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__section--nIZor .pages-happenings--happeningName--styles__presenter--3j1gh {
      cursor: pointer;
    }
@media all and (min-width: 41.75em) {
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT {
      margin-right: 40px;
      margin-top: 8px;
      width: 100%
  }
    }
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT .pages-happenings--happeningName--styles__videoWrapper--2MpZe {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
    	height: 0;
    }
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT .pages-happenings--happeningName--styles__video--1o8Eb {
    	border: none;
    	height: 100%;
    	left: 0;
      position: absolute;
    	top: 0;
    	width: 100%;
    }
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT .pages-happenings--happeningName--styles__bios--M-B5K {
      background: #f0c26d;
      margin-top: 40px;
      padding: 20px;
    }
@media all and (min-width: 41.75em) {
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT .pages-happenings--happeningName--styles__bios--M-B5K {
        margin-top: 74px;
        padding: 26px 30px 14px
    }
      }
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT .pages-happenings--happeningName--styles__bios--M-B5K .pages-happenings--happeningName--styles__bio--18O9Y ~ .pages-happenings--happeningName--styles__bio--18O9Y {
        margin-top: 40px;
      }
.pages-happenings--happeningName--styles__detail--3jGgg .pages-happenings--happeningName--styles__mainContent--rSlVT .pages-happenings--happeningName--styles__bios--M-B5K .pages-happenings--happeningName--styles__bioNames--eN0tu {
        margin-bottom: 1.25rem;
      }
.pages-happenings--happeningName--styles__field--s01WD {
}
.pages-happenings--happeningName--styles__fieldLabel--M6yb-,
.pages-happenings--happeningName--styles__bioName--1IWzS {
}
.pages-happenings--happeningName--styles__lightText--1kcqM {
  text-transform: uppercase;
}

.components-NewsTeaser-styles__newOverview--2YKJK.components-NewsTeaser-styles__teaserWrapper--RBVqe {
    border-bottom: 1px dashed #b2aeaa;
    padding: 25px 0 33px;
  }
    .components-NewsTeaser-styles__newOverview--2YKJK.components-NewsTeaser-styles__teaserWrapper--RBVqe:first-child {
      padding-top: 0;
    }
.components-NewsTeaser-styles__date--R9N4u {
  border-bottom: 1px dashed #b2aeaa;
  color: #b2aeaa;
  display: initial;
  font-size: 11px;
}
.components-NewsTeaser-styles__moreLink--1QP9C {
  background: url('/images/plus.svg') left 5px no-repeat;
  background-size: 8px;
  font-size: 11px;
  margin-top: 20px;
  padding-left: 15px;
  text-transform: uppercase;
}
.components-NewsTeaser-styles__hompageNews--2ZaNb {
  padding: 45px 20px 55px;
}
@media all and (min-width: 41.75em) {
.components-NewsTeaser-styles__hompageNews--2ZaNb {
    padding-left: 40px;
    padding-right: 40px
}
    .components-NewsTeaser-styles__hompageNews--2ZaNb:last-child {
      flex: 1 1 auto;
    }
  }
.components-NewsTeaser-styles__hompageNews--2ZaNb:nth-child(3n+1) {
    background: #f7f1eb;
  }
.components-NewsTeaser-styles__hompageNews--2ZaNb:nth-child(3n+3) {
    background: #ede7e1;
  }
.components-NewsTeaser-styles__hompageNews--2ZaNb.components-NewsTeaser-styles__secondColumn--Bpati:nth-child(3n+1) {
      background: #ede7e1;
    }
.components-NewsTeaser-styles__hompageNews--2ZaNb.components-NewsTeaser-styles__secondColumn--Bpati:nth-child(3n+2) {
      background: #f7f1eb;
    }
.components-NewsTeaser-styles__hompageNews--2ZaNb.components-NewsTeaser-styles__secondColumn--Bpati:nth-child(3n+3) {
      background: #f2ece6;
    }

.components-SponsorsSlideshow-styles__slider--1Ny8C {
  margin-bottom: 8px;
  position: relative;
}
  .components-SponsorsSlideshow-styles__slider--1Ny8C .slick-track {
    display: inline-flex;
  }
  .components-SponsorsSlideshow-styles__slider--1Ny8C .slick-track .slick-slide div {
        height: 100%;
      }
  .components-SponsorsSlideshow-styles__slider--1Ny8C .slick-track .slick-slide div:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
  .components-SponsorsSlideshow-styles__slider--1Ny8C .slick-track .slick-slide div img {
          max-width: 180px;
          transform: scale(1.65);
          vertical-align: middle;                
        }
  .components-SponsorsSlideshow-styles__slider--1Ny8C ul {
    position: absolute;
    top: -26px;
    width: 100%;
  }
  .components-SponsorsSlideshow-styles__slider--1Ny8C ul li {
      background: none;
      display: inline;
      padding: 0 6px;
    }
  .components-SponsorsSlideshow-styles__slider--1Ny8C ul li button {
        background: #d4cec9;
        border: none;
        border-radius: 10px;
        color: #d4cec9;
        font-size: 0;
        height: 4px;
        outline: none;
        padding: 0;
        width: 4px;
      }
.slick-active button {
    background: #10363f !important;
  }
.pages-index-styles__contentWrapper--apkNG {
  overflow: hidden;
}
  @media all and (min-width: 60em) {.pages-index-styles__contentWrapper--apkNG {
    display: flex
}
  }
.pages-index-styles__content--30727 {
}
@media screen and (max-width: 500px) {
.pages-index-styles__content--30727 { 
    margin-top: 342px
}
  }
@media all and (min-width: 60em) {
.pages-index-styles__content--30727 {
    min-width: 50%;
    width: 100%
}
  }
.pages-index-styles__detail--1BULA {
  margin-bottom: -100px;
}
@media all and (min-width: 41.75em) {
.pages-index-styles__detail--1BULA {
    display: flex
}
  }
@media all and (min-width: 41.75em) {
.pages-index-styles__detail--1BULA .pages-index-styles__column--1dAuw {
      max-width: 50%;
      min-width: 50%
  }
    }
.pages-index-styles__detail--1BULA .pages-index-styles__box--2pTyN {
    padding: 45px 20px 60px;
  }
@media all and (min-width: 41.75em) {
.pages-index-styles__detail--1BULA .pages-index-styles__box--2pTyN {
      padding-left: 40px;
      padding-right: 40px
  }
    }
.pages-index-styles__button--3ZAQD {
  display: inline-block;
  margin-top: 14px;
}
.pages-index-styles__smallest--3HSTL {
  color: #b2aeaa;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pages-index-styles__tickets--OWcQX {
  background: #10363f;
  color: #f2ece6;
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.pages-index-styles__tickets--OWcQX h3 {
    font-size: 22px;
    line-height: 13px;
    margin: 0 0 15px;
  }
.pages-index-styles__tickets--OWcQX img {
    display: block;
    margin: 0 auto;
    width: 108px;
  }
.pages-index-styles__tickets--OWcQX .pages-index-styles__verticalText--3v39z {
    bottom: 50px;
    color: #b2aeaa;
    font-size: 11px;
    position: absolute;
    right: -25px;
    transform: rotate(-90deg);
  }
.pages-index-styles__tickets--OWcQX .pages-index-styles__button--3ZAQD {
    margin-top: 12px;
  }
.pages-index-styles__latestNews--2ps6M {
  background: #f7f1eb;
}
.pages-index-styles__speak--2Hwq8 {
  background: url('/images/schedule.png') 20px center #f0c26d no-repeat;
  background-size: 75px 72px;
}
@media all and (min-width: 41.75em) {
.pages-index-styles__speak--2Hwq8 {
    background-position: 50px center
}
  }
.pages-index-styles__speak--2Hwq8.pages-index-styles__box--2pTyN {
    padding-bottom: 40px;
    padding-left: 115px;
    padding-top: 25px;
  }
@media all and (min-width: 41.75em) {
.pages-index-styles__speak--2Hwq8.pages-index-styles__box--2pTyN {
      padding-left: 175px
  }
    }
.pages-index-styles__speak--2Hwq8.pages-index-styles__box--2pTyN p {
      margin-bottom: 0;
    }
.pages-index-styles__speak--2Hwq8 .pages-index-styles__button--3ZAQD {
    margin-top: 10px;
  }
.pages-index-styles__sponsors--B1FLb {
  background: #f2ece6;
  overflow: hidden;
  text-align: center;
}
.pages-index-styles__sponsors--B1FLb .pages-index-styles__heading--1yKNL {
    margin: 8px 0 30px;
    width: 140px;
  }
.pages-index-styles__sponsors--B1FLb img {
    margin-bottom: 6px;
    max-width: 180px;
  }
.pages-index-styles__sponsors--B1FLb.pages-index-styles__box--2pTyN {
    padding-left: 0;
    padding-right: 0;
  }
.pages-index-styles__training--1kDIW {
  background: url('/images/level-up.png') 20px center #10363f no-repeat;
  background-size: 75px 65px;
  color: #f2ece6;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
@media all and (min-width: 41.75em) {
.pages-index-styles__training--1kDIW {
    background-position: 50px center;
    grid-column: 2
}
  }
.pages-index-styles__training--1kDIW.pages-index-styles__box--2pTyN {
    padding-bottom: 40px;
    padding-left: 115px;
    padding-top: 25px;
  }
@media all and (min-width: 41.75em) {
.pages-index-styles__training--1kDIW.pages-index-styles__box--2pTyN {
      padding-left: 175px
  }
    }
.pages-index-styles__training--1kDIW.pages-index-styles__box--2pTyN p {
      margin: 0;
    }
.pages-index-styles__training--1kDIW .pages-index-styles__button--3ZAQD {
    margin-top: 10px;
  }
@media all and (min-width: 41.75em) {
.pages-index-styles__newsList--2T38h {
    display: flex;
    flex-flow: column;
    height: 100%
}
  }
.pages-index-styles__footer--3F-h_ {
  background: red;
  margin-top: 0;
}

@media all and (min-width: 60em) {.pages-news--newsTitle--styles__contentWrapper--3j8jK {
    display: flex
}
  }
.pages-news--newsTitle--styles__content--MZHij {
}
@media all and (min-width: 60em) {
.pages-news--newsTitle--styles__content--MZHij {
    min-width: 50%;
    width: 100%
}
  }
.pages-news--newsTitle--styles__title--1RdXs {
}
.pages-news--newsTitle--styles__detail--3Cn2V {
  flex-direction: row-reverse;
}
.pages-news--newsTitle--styles__detail--3Cn2V .pages-news--newsTitle--styles__section--1YoQE {
    margin-bottom: 26px;
    min-width: 25%;
  }
@media all and (min-width: 25em) and (max-width: 41.6875em) {
.pages-news--newsTitle--styles__detail--3Cn2V .pages-news--newsTitle--styles__section--1YoQE {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }
    }
@media all and (min-width: 41.75em) {
.pages-news--newsTitle--styles__detail--3Cn2V .pages-news--newsTitle--styles__section--1YoQE {
      margin-bottom: 40px
  }
    }
@media all and (min-width: 41.75em) {
.pages-news--newsTitle--styles__detail--3Cn2V .pages-news--newsTitle--styles__mainContent--2lzf- {
      margin-right: 40px;
      margin-top: 8px;
      width: 100%
  }
    }
.pages-news--newsTitle--styles__field--3x6U8 {
}
.pages-news--newsTitle--styles__fieldLabel--3L12c {
}

@media all and (min-width: 60em) {.pages-news-styles__contentWrapper--3yVrG {
    display: flex
}
  } 
.pages-news-styles__content--2VpK0 {
} 
@media all and (min-width: 60em) { 
.pages-news-styles__content--2VpK0 {
    min-width: 50%
}
  }
.pages-news-styles__title--1qGIX {
  margin-bottom: 16px;
}
@media all and (min-width: 41.75em) {
.pages-news-styles__title--1qGIX {
    margin-bottom: 15px
}
  }
.pages-news-styles__detail--31WHs {
  flex-direction: unset;
}
@media all and (min-width: 41.75em) {
.pages-news-styles__detail--31WHs {
    width: calc(75% - 40px)
}
  }
.pages-news-styles__detail--31WHs h3 {
    margin-top: 18px;
  }

@media all and (min-width: 60em) {.pages-schedule-styles__contentWrapper--2MPll {
    display: flex
}
  }
.pages-schedule-styles__content--1rpzM {
}
@media all and (min-width: 60em) {
.pages-schedule-styles__content--1rpzM {
    min-width: 50%;
    width: 100%
}
  }
.pages-schedule-styles__title--1xmak {
  margin-bottom: 20px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.pages-schedule-styles__sessionsContainer--1hhiU {
  flex-direction: unset;
}
.pages-schedule-styles__detail--1vCXI {
  width: 100%;
}
@media all and (min-width: 41.75em) {
.pages-schedule-styles__filters--1DEjy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}
  }
.pages-schedule-styles__button--2QmxH {
  background: #e2dcd6;
  border: none;
  border-radius: 4px;
  box-shadow: none !important;
  color: #10363f;
  line-height: 100%;
  margin-right: 10px;
  outline: none;
  padding: 19px 15px;
  transition: all .3s ease-out;
}
@media all and (min-width: 21.875em) {
.pages-schedule-styles__button--2QmxH {
    padding: 19px 20px
}
  }
.pages-schedule-styles__button--2QmxH:hover {
    background: #f0c26d;
    cursor: pointer;
  }
.pages-schedule-styles__button--2QmxH.pages-schedule-styles__selected--3NZJ5 {
    background: #f0c26d;
  }
.pages-schedule-styles__skillLevelKey--x6ZgM {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
}
@media all and (min-width: 41.75em)    {
.pages-schedule-styles__skillLevelKey--x6ZgM {
    margin-top: -4px
}
  }

.pages-schedule-styles__skillLevel--1-6XG div::before {
    background-repeat: no-repeat;
    background-size: 4px 4px;
    content: "";
    display: inline-block;
    height: 8px;
    margin-right: 12px;
    width: 20px;
  }
.pages-schedule-styles__beginner--2GNBA::before {
    background: url('/images/dot.png') right center;
  }
.pages-schedule-styles__intermediate--3DysX::before {
    background: url('/images/dot.png') right center,
                url('/images/dot.png') 8px center;
  }
.pages-schedule-styles__advanced--M_nnI::before {
    background: url('/images/dot.png') right center,
                url('/images/dot.png') 8px center,
                url('/images/dot.png') 0px center;
  }
.pages-schedule-styles__timeslot--1I_o9 {
  line-height: 12px;
  margin: 0 0 22px;
}
.pages-schedule-styles__timeslotSessions--2CFlq {
  margin-bottom: 26px;
}
@media all and (min-width: 41.75em) {
.pages-schedule-styles__timeslotSessions--2CFlq {
    margin-bottom: 6px
}
  }
@media all and (min-width: 41.75em) {
.pages-schedule-styles__sessionWrapper--2_JJK {
    display: flex;
    justify-content: space-between
}
    .pages-schedule-styles__sessionWrapper--2_JJK .pages-schedule-styles__sessionDetails--2xvvh {
      padding-right: 40px;
    }
  }
.pages-schedule-styles__session--35Wtw {
  border-top: 1px dashed #b2aeaa;
  padding: 0 0 15px;
}
@media all and (min-width: 41.75em) {
.pages-schedule-styles__session--35Wtw {
    padding-bottom: 34px
}
  }
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__skillLevel--1-6XG {
    color: #f2ece6;
    margin-top: -16px;
    position: absolute;
  }
@media all and (min-width: 41.75em) {
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__skillLevel--1-6XG {
      margin-top: 8px
  }
    }
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__skillLevel--1-6XG div::before {
      background-repeat: no-repeat;
      background-size: 4px 4px;
    }
.pages-schedule-styles__session--35Wtw .Beginner::before {
      background: url('/images/dot.png') 0 center;
    }
.pages-schedule-styles__session--35Wtw .Intermediate::before {
      background: url('/images/dot.png') 0 center,
                  url('/images/dot.png') 8px center;
    }
.pages-schedule-styles__session--35Wtw .Advanced::before {
      background: url('/images/dot.png') 0 center,
                  url('/images/dot.png') 8px center,
                  url('/images/dot.png') 16px center;
    }
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__sessionTitle--1jBrq {
    color: #35647e;
    margin: 1.5rem 0 0;
  }
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__room--aWsqG {
    background: url('/images/marker.png') 0 2px no-repeat;
    background-size: 10px 15px;
    padding-left: 20px;
  }
@media all and (min-width: 41.75em) {
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__room--aWsqG {
      background-position: center 25px;
      border-left: 1px dashed #b2aeaa;
      min-width: 175px;
      padding-left: 0;
      padding-top: 45px;
      text-align: center
  }
    }
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__presenter--1nvDE ~ .pages-schedule-styles__presenter--1nvDE::before {
    content: ', ';
  }
.pages-schedule-styles__session--35Wtw .pages-schedule-styles__spacer--3D0cN {
    display: table-cell;
    padding: 0 10px;
  }

@media all and (min-width: 60em) {.pages-sessions--sessionName--styles__contentWrapper--3ZB_G {
    display: flex
}
  }
.pages-sessions--sessionName--styles__content--3c3of {
}
@media all and (min-width: 60em) {
.pages-sessions--sessionName--styles__content--3c3of {
    min-width: 50%;
    width: 100%
}
  }
.pages-sessions--sessionName--styles__title--3P_cH {
}
.pages-sessions--sessionName--styles__detail--3jt5Z {
  flex-direction: row-reverse;
}
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__section--XoUFx {
    margin-bottom: 26px;
    min-width: 25%;
  }
@media all and (min-width: 25em) and (max-width: 41.6875em) {
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__section--XoUFx {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }
    }
@media all and (min-width: 41.75em) {
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__section--XoUFx {
      margin-bottom: 40px
  }
    }
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__section--XoUFx .pages-sessions--sessionName--styles__presenter--3VB-c {
      cursor: pointer;
    }
@media all and (min-width: 41.75em) {
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 {
      margin-right: 40px;
      margin-top: 8px;
      width: 100%
  }
    }
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 .pages-sessions--sessionName--styles__videoWrapper--2_6Sq {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
    	height: 0;
    }
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 .pages-sessions--sessionName--styles__video--wBVVS {
    	border: none;
    	height: 100%;
    	left: 0;
      position: absolute;
    	top: 0;
    	width: 100%;
    }
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 .pages-sessions--sessionName--styles__bios--1fvv2 {
      background: #f0c26d;
      margin-top: 40px;
      padding: 20px;
    }
@media all and (min-width: 41.75em) {
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 .pages-sessions--sessionName--styles__bios--1fvv2 {
        margin-top: 74px;
        padding: 26px 30px 14px
    }
      }
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 .pages-sessions--sessionName--styles__bios--1fvv2 .pages-sessions--sessionName--styles__bio--1_16k ~ .pages-sessions--sessionName--styles__bio--1_16k {
        margin-top: 40px;
      }
.pages-sessions--sessionName--styles__detail--3jt5Z .pages-sessions--sessionName--styles__mainContent--BuGj5 .pages-sessions--sessionName--styles__bios--1fvv2 .pages-sessions--sessionName--styles__bioNames--15eaU {
        margin-bottom: 1.25rem;
      }
.pages-sessions--sessionName--styles__field--2xvJL {
}
.pages-sessions--sessionName--styles__fieldLabel--220w2,
.pages-sessions--sessionName--styles__bioName--2SNU6 {
}
.pages-sessions--sessionName--styles__lightText--35BW4 {
  text-transform: uppercase;
}

@media all and (min-width: 60em) {.pages-sessions-proposed-styles__contentWrapper--2f_3T {
    display: flex
}
  }
.pages-sessions-proposed-styles__content--1Rzzs {
}
@media all and (min-width: 60em) {
.pages-sessions-proposed-styles__content--1Rzzs {
    min-width: 50%;
    width: 100%
}
  }
.pages-sessions-proposed-styles__sessionsContainer--3azzv {
  flex-direction: unset;
}
.pages-sessions-proposed-styles__filterWrapper--1f3jt {
  border-bottom: 1px dashed #b2aeaa;
  padding-bottom: 20px;
}
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3 {
    background: #f0c26d;
    padding: 0 20px;
  }
@media all and (min-width: 41.75em) {
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3 {
      padding-left: 40px;
      padding-right: 40px
  }
    }
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3.pages-sessions-proposed-styles__filtersOpen--34JOy {
      height: 100%;
      padding-bottom: 52px;
      padding-top: 2rem;
      transition: height 0.2s linear, padding 0.2s ease;
    }
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3.pages-sessions-proposed-styles__filtersClosed--PY3eV {
      height: 0px;
      overflow: hidden;
      transition: height 0.2s linear, padding 0.2s ease 0.2s;
    }
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3 .pages-sessions-proposed-styles__filter--2H5qb {
      margin: 25px 0 0;
      width: calc(100% + 15px);
    }
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3 .pages-sessions-proposed-styles__filter--2H5qb .pages-sessions-proposed-styles__fieldLabel--1GhTB {
        line-height: 1rem;
        margin-bottom: 18px;
        margin-top: 1rem;
      }
.pages-sessions-proposed-styles__filterWrapper--1f3jt .pages-sessions-proposed-styles__filters--vDSw3 .pages-sessions-proposed-styles__searchLabel--F9lNz {
      display: none;
    }
.pages-sessions-proposed-styles__filterTitle--YoqzI {
  background: #e2dcd6;
  border: none;
  cursor: pointer;
  line-height: 13px;
  margin: 0;
  outline: none;
  padding: 19px 20px 18px;
  text-align: left;
  width: 100%;
}
.pages-sessions-proposed-styles__openFiltersButton--2klqb {
  background: url('/images/downarrow.png') center center no-repeat #e2dcd6;
  background-size: 12px;
  border: none;
  color: #e2dcd6;
  content: "";
  font-size: 0;
  height: 50px;
  outline: none;
  position: absolute;
  right: 20px;
  transition: 0.2s all ease 0.2s;
  width: 50px;
}
@media all and (min-width: 41.75em) {
.pages-sessions-proposed-styles__openFiltersButton--2klqb {
    right: 40px
}
  }
.pages-sessions-proposed-styles__openFiltersButton--2klqb.pages-sessions-proposed-styles__filtersOpen--34JOy {
    background-color: #f0c26d;
    background-image: url('/images/uparrow.png');
    color: #f0c26d;
    transition: 0.2s all ease;
  }
.pages-sessions-proposed-styles__openFiltersButton--2klqb:hover {
    cursor: pointer;
  }
.pages-sessions-proposed-styles__filterButton--1Xy7x {
  background: #f0c26d;
  border: 1px solid #10363f;
  border-radius: 4px;
  color: #10363f;
  margin-bottom: 15px;
  margin-right: 15px;
  outline: none;
  padding: 5px 10px 4px;
}
.pages-sessions-proposed-styles__filterButton--1Xy7x:hover {
    background: #10363f;
    color: #f0c26d;
    cursor: pointer;
  }
.pages-sessions-proposed-styles__filterButtonSelected--2V9tb {
  background: #10363f;
  color: #f0c26d;
}
.pages-sessions-proposed-styles__searchTextInput--1H1fk {
  background: #f0c26d;
  border: 1px solid #10363f;
  border-radius: 4px;
  color: #10363f;
  margin-bottom: 3px;
  padding: 1rem 20px;
  width: 100%;
}
.pages-sessions-proposed-styles__searchTextInput--1H1fk:focus {
    outline: none;
  }
.pages-sessions-proposed-styles__searchTextInput--1H1fk::placeholder {
    color: #10363f;
  }
.pages-sessions-proposed-styles__resetButton--3Mz0e {
}
.pages-sessions-proposed-styles__body--2itSn p {
    display: inline;
  }
.pages-sessions-proposed-styles__field--1e-_N div {
    display: inline;
  }
.pages-sessions-proposed-styles__teaserWrapper--2PrCl {
  border-bottom: 1px dashed #b2aeaa;
  padding: 40px 20px 55px;
}
@media all and (min-width: 41.75em) {
.pages-sessions-proposed-styles__teaserWrapper--2PrCl {
    padding-left: 40px;
    padding-right: 40px
}
  }
.pages-sessions-proposed-styles__teaserWrapper--2PrCl h2 {
    margin-top: 0;
  }
.pages-sessions-proposed-styles__teaserWrapper--2PrCl:hover {
    background: #f7f1eb;
  }
.pages-sessions-proposed-styles__fieldLabel--1GhTB {
  margin-right: 10px;
}

.pages-sessions-proposed-styles__lightText--10_Sn {
  text-transform: uppercase;
}
.pages-sessions-proposed-styles__presenter--lE7Gv ~ .pages-sessions-proposed-styles__presenter--lE7Gv::before {
  content: ', ';
}
.pages-sessions-proposed-styles__button--1z_pr {
}
.pages-sessions-proposed-styles__detail--jwMjU {
  width: 100%;
}

@media all and (min-width: 60em) {.pages-sponsors-styles__contentWrapper--kE12e {
    display: flex
}
  }
.pages-sponsors-styles__content--f-RIb {
}
@media all and (min-width: 60em) {
.pages-sponsors-styles__content--f-RIb {
    min-width: 50%;
    width: 100%
}
  }
.pages-sponsors-styles__title--1_QO4 {
}
.pages-sponsors-styles__detail--3xhkD {
  flex-direction: row-reverse;
}
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__section--2JoG5 {
    margin-bottom: 6px;
    min-width: 25%;
  }
@media all and (min-width: 25em) and (max-width: 41.6875em) {
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__section--2JoG5 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }
    }
@media all and (min-width: 41.75em) {
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__section--2JoG5 {
      margin-bottom: 40px;
      max-width: 135px
  }
    }
@media all and (min-width: 41.75em) {
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__mainContent--N2QzR {
      margin-right: 40px;
      margin-top: 8px;
      width: 100%
  }
    }
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__mainContent--N2QzR h2 {
      margin: 0 0 14px;
    }
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__mainContent--N2QzR ul li a {
      box-shadow: none;
    }
.pages-sponsors-styles__detail--3xhkD .pages-sponsors-styles__mainContent--N2QzR ul li a:hover {
        background: none;
      }
.pages-sponsors-styles__sponsorContainer--DZT2G {
  margin-top: 35px;
}
.pages-sponsors-styles__sponsorContainer--DZT2G .pages-sponsors-styles__sponsors--1iF79 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
.pages-sponsors-styles__sponsorContainer--DZT2G .pages-sponsors-styles__sponsors--1iF79 div {
      background-color: #e2dcd6;
      margin-bottom: 20px;
    }
.pages-sponsors-styles__sponsorContainer--DZT2G .pages-sponsors-styles__sponsors--1iF79 div:hover {
        background-color: #f7f1eb;
      }
@media all and (min-width: 25em) and (max-width: 41.6875em) {
.pages-sponsors-styles__sponsorContainer--DZT2G .pages-sponsors-styles__sponsors--1iF79 div {
        width: calc(50% - 10px)
    }
      }
@media all and (min-width: 41.75em) {
.pages-sponsors-styles__sponsorContainer--DZT2G .pages-sponsors-styles__sponsors--1iF79 div {
        width: calc(50% - 10px)
    }
      }
.pages-sponsors-styles__sponsorContainer--DZT2G .pages-sponsors-styles__individualSponsors--Y6H5z h2 {
      margin-bottom: 20px;
    }
.pages-sponsors-styles__field--1YCeG {
  padding-bottom: 42px !important;
}
.pages-sponsors-styles__field--1YCeG p {
    margin-bottom:10px;
  }
.pages-sponsors-styles__field--1YCeG .pages-sponsors-styles__button--1agzu {
    color: #f2ece6;
  }
.pages-sponsors-styles__field--1YCeG .pages-sponsors-styles__button--1agzu:hover {
      background: none;
      box-shadow: none;
      color: #ef5a47;
    }
.pages-sponsors-styles__fieldLabel--1zxsI {
}
.pages-sponsors-styles__button--1agzu {
  margin-top: -2px;
}

.pages-_app-styles__wrapper--1lbfw {
}
  @media all and (max-width: 59.9375em) {
  .pages-_app-styles__wrapper--1lbfw::before {
      background: #ef5a47;
      display: block;
      content: " ";
      height: 26px;
      width: 100%
  }
    }
  @media all and (min-width: 41.75em) {
  .pages-_app-styles__wrapper--1lbfw::before {
      height: 20px
  }
    }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f2ece6;
  color: #10363f;
  font-size: 13px;
  height: 100%;
  line-height: 1.25rem;
  overflow-x: hidden;
}
body a {
    color: #10363f;
    text-decoration: none;
  }
body p {
    margin: 0 0 1.25rem;
  }
body p a {
      box-shadow: inset 0 -1px 0 #f0c26d;
      color: #10363f;
      text-decoration: none;
      transition: background .3s ease-out;
    }
body p a:hover {
        background: #f0c26d;
      }
body strong {
    font-weight: normal;
  }
body em {
    font-style: normal;
  }
body h1 {
    font-family: "calder-dark", sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin-top: 50px;
  }
@media all and (min-width: 41.75em) {
body h1 {
      margin-top: 58px
  }
    }
body h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 2.25rem 0 23px;
  }
body h3 {
    font-family: "calder-dark", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
  }
body h4 {
    font-family: "calder-dark", sans-serif;
    margin: 0;
  }
body ul {
    list-style: none;
    margin: 0 0 1.25rem;
    padding-left: 0;
  }
body ul li {
      background: url('/images/plus.svg') left 5px no-repeat;
      background-size: 8px;
      margin-bottom: 1.25rem;
      padding-left: 20px;
    }
body ul li a {
        box-shadow: inset 0 -1px 0 #f0c26d;
        color: #10363f;
        text-decoration: none;
        transition: background .3s ease-out;
      }
body ul li a:hover {
          background: #f0c26d;
        }
body ol {
    margin: 0 0 1.25rem;
    padding-left: 20px;
  }
body ol li {
      margin-bottom: 1.25rem;
    }
body ol li a {
        box-shadow: inset 0 -1px 0 #f0c26d;
        color: #10363f;
        text-decoration: none;
        transition: background .3s ease-out;
      }
body ol li a:hover {
          background: #f0c26d;
        }
.shared-css-global__buttonLink--1OnUv a {
  background: #ef5a47;
  border: 1px solid #ef5a47;
  border-radius: 20px;
  box-shadow: none;
  color: #f2ece6;
  font-family: "calder-dark", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 100%;
  margin-top: 20px;
  outline: none;
  padding: 6px 18px;
  text-transform: uppercase;
  transition: all .3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.shared-css-global__buttonLink--1OnUv a:active,
  .shared-css-global__buttonLink--1OnUv a:focus,
  .shared-css-global__buttonLink--1OnUv a:hover {
    background: none;
    color: #ef5a47;
    cursor: pointer;
  }

/**
  * React Select
  * ============
  * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
  * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
  * MIT License: https://github.com/JedWatson/react-select
*/
.shared-css-global__Select--ECG9q {
  position: relative;
}
.shared-css-global__Select--ECG9q input::-webkit-contacts-auto-fill-button,
.shared-css-global__Select--ECG9q input::-webkit-credentials-auto-fill-button {
  display: none !important;
}
.shared-css-global__Select--ECG9q input::-ms-clear {
  display: none !important;
}
.shared-css-global__Select--ECG9q input::-ms-reveal {
  display: none !important;
}
.shared-css-global__Select--ECG9q,
.shared-css-global__Select--ECG9q div,
.shared-css-global__Select--ECG9q input,
.shared-css-global__Select--ECG9q span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-disabled--fqGLy .shared-css-global__Select-arrow-zone--2JIJW {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-disabled--fqGLy > .shared-css-global__Select-control--34IfD {
  background-color: #f9f9f9;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-disabled--fqGLy > .shared-css-global__Select-control--34IfD:hover {
  box-shadow: none;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-open--uLIL6 > .shared-css-global__Select-control--34IfD {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #f2ece6;
  border-color: #10363f;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-open--uLIL6 > .shared-css-global__Select-control--34IfD .shared-css-global__Select-arrow--lLtDB {
  top: 0;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-searchable--3O_lG.shared-css-global__is-open--uLIL6 > .shared-css-global__Select-control--34IfD {
  cursor: text;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-searchable--3O_lG.shared-css-global__is-focused--1-9gE:not(.shared-css-global__is-open--uLIL6) > .shared-css-global__Select-control--34IfD {
  cursor: text;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-focused--1-9gE > .shared-css-global__Select-control--34IfD {
  background: #f7f1eb;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-focused--1-9gE:not(.shared-css-global__is-open--uLIL6) > .shared-css-global__Select-control--34IfD {
  border-color: #10363f;
  background: #f2ece6;
}
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-clearable--3ZwvK.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 {
  padding-right: 42px;
}
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 .shared-css-global__Select-value-label--2rv61,
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 .shared-css-global__Select-value-label--2rv61 {
  color: #10363f;
}
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61,
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61 {
  cursor: pointer;
  text-decoration: none;
}
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61:hover,
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61:hover,
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61:focus,
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61:focus,
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 a.shared-css-global__Select-value-label--2rv61:focus {
  background: #f2ece6;
}
.shared-css-global__Select--ECG9q.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen .shared-css-global__Select-input--2rpr1 {
  opacity: 0;
}
.shared-css-global__Select--ECG9q.shared-css-global__is-open--uLIL6 .shared-css-global__Select-arrow--lLtDB,
.shared-css-global__Select--ECG9q .shared-css-global__Select-arrow-zone--2JIJW:hover > .shared-css-global__Select-arrow--lLtDB {
  border-top-color: #666;
}
.shared-css-global__Select--ECG9q.shared-css-global__Select--rtl--2OQ0B {
  direction: rtl;
  text-align: right;
}
.shared-css-global__Select-control--34IfD {
  background-color: #f2ece6;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 3px;
  border: 1px solid #10363f;
  color: #10363f;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 50px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.shared-css-global__Select-control--34IfD:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.shared-css-global__Select-control--34IfD .shared-css-global__Select-input--2rpr1:focus {
  outline: none;
  background: #fff;
}
.shared-css-global__Select-placeholder--3sq18,
.shared-css-global__Select--single--37tYf > .shared-css-global__Select-control--34IfD .shared-css-global__Select-value--7Nwb2 {
  bottom: 0;
  color: #10363f;
  left: 0;
  line-height: 1.25rem;
  padding-left: 18px;
  padding-right: 18px;
  position: absolute;
  right: 0;
  top: 21px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shared-css-global__Select-input--2rpr1 {
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: middle;
}
.shared-css-global__Select-input--2rpr1 > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  caret-color: #ef5a47;
  cursor: default;
  display: inline-block;
  font-family: "calder-lc", sans-serif;
  font-size: 13px;
  margin: 0;
  outline: none;
  line-height: 1.25rem;
  /* For IE 8 compatibility */
  padding: 21px 0 7px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.shared-css-global__is-focused--1-9gE .shared-css-global__Select-input--2rpr1 > input {
  cursor: text;
}
.shared-css-global__has-value--2t7m9.shared-css-global__is-pseudo-focused--2RKen .shared-css-global__Select-input--2rpr1 {
  opacity: 0;
}
.shared-css-global__Select-control--34IfD:not(.shared-css-global__is-searchable--3O_lG) > .shared-css-global__Select-input--2rpr1 {
  outline: none;
}
.shared-css-global__Select-loading-zone--3mEY4 {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.shared-css-global__Select-loading--1bEQn {
  -webkit-animation: shared-css-global__Select-animation-spin--1u0fq 400ms infinite linear;
  -o-animation: shared-css-global__Select-animation-spin--1u0fq 400ms infinite linear;
  animation: shared-css-global__Select-animation-spin--1u0fq 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.shared-css-global__Select-clear-zone--OecjH {
  -webkit-animation: shared-css-global__Select-animation-fadeIn--1sxeZ 200ms;
  -o-animation: shared-css-global__Select-animation-fadeIn--1sxeZ 200ms;
  animation: shared-css-global__Select-animation-fadeIn--1sxeZ 200ms;
  color: #999;
  cursor: pointer;
  display: none;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.shared-css-global__Select-clear-zone--OecjH:hover {
  color: #D0021B;
}
.shared-css-global__Select-clear--2oEhW {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-clear-zone--OecjH {
  width: 17px;
}
.shared-css-global__Select-arrow-zone--2JIJW {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.shared-css-global__Select--rtl--2OQ0B .shared-css-global__Select-arrow-zone--2JIJW {
  padding-right: 0;
  padding-left: 5px;
}
.shared-css-global__Select-arrow--lLtDB {
  background: url('/images/selectarrow.png') right 5px no-repeat;
  background-size: 50% auto;
  display: inline-block;
  height: 11px;
  width: 21px;
  position: relative;
}
.shared-css-global__Select-control--34IfD > *:last-child {
  padding-right: 20px;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-multi-value-wrapper--1qCeN {
  display: inline-block;
}
.shared-css-global__Select--ECG9q .shared-css-global__Select-aria-only--2cE2O {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}
@-webkit-keyframes shared-css-global__Select-animation-fadeIn--1sxeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shared-css-global__Select-animation-fadeIn--1sxeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.shared-css-global__Select-menu-outer--w1pEF {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #f0c26d;
  border: 1px solid #10363f;
  border-top-color: #10363f;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
}
.shared-css-global__Select-menu--zXSKI {
  max-height: 198px;
  overflow-y: auto;
}
.shared-css-global__Select-option--11twj {
  box-sizing: border-box;
  background-color: #f0c26d;
  color: #10363f;
  cursor: pointer;
  display: block;
  padding: 8px 18px;
}
.shared-css-global__Select-option--11twj:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.shared-css-global__Select-option--11twj.shared-css-global__is-selected--3IPpO {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.shared-css-global__Select-option--11twj.shared-css-global__is-focused--1-9gE {
  background-color: #f7f1eb;
  /* Fallback color for IE 8 */
  background-color: #e2dcd6;
  color: #10363f;
}
.shared-css-global__Select-option--11twj.shared-css-global__is-disabled--fqGLy {
  color: #cccccc;
  cursor: default;
}
.shared-css-global__Select-noresults--1sgpN {
  background-color: #ef5a47;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
  display: block;
  padding: 8px 18px;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-input--2rpr1 {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.shared-css-global__Select--multi--15GUl.shared-css-global__Select--rtl--2OQ0B .shared-css-global__Select-input--2rpr1 {
  margin-left: 0;
  margin-right: 10px;
}
.shared-css-global__Select--multi--15GUl.shared-css-global__has-value--2t7m9 .shared-css-global__Select-input--2rpr1 {
  margin-left: 5px;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value--7Nwb2 {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-icon--2KCzG,
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-label--2rv61 {
  display: inline-block;
  vertical-align: middle;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-label--2rv61 {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.shared-css-global__Select--multi--15GUl a.shared-css-global__Select-value-label--2rv61 {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.shared-css-global__Select--multi--15GUl a.shared-css-global__Select-value-label--2rv61:hover {
  text-decoration: underline;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-icon--2KCzG {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-icon--2KCzG:hover,
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-icon--2KCzG:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.shared-css-global__Select--multi--15GUl .shared-css-global__Select-value-icon--2KCzG:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.shared-css-global__Select--multi--15GUl.shared-css-global__Select--rtl--2OQ0B .shared-css-global__Select-value--7Nwb2 {
  margin-left: 0;
  margin-right: 5px;
}
.shared-css-global__Select--multi--15GUl.shared-css-global__Select--rtl--2OQ0B .shared-css-global__Select-value-icon--2KCzG {
  border-right: none;
  border-left: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-left: 1px solid rgba(0, 126, 255, 0.24);
}
.shared-css-global__Select--multi--15GUl.shared-css-global__is-disabled--fqGLy .shared-css-global__Select-value--7Nwb2 {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.shared-css-global__Select--multi--15GUl.shared-css-global__is-disabled--fqGLy .shared-css-global__Select-value-icon--2KCzG {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.shared-css-global__Select--multi--15GUl.shared-css-global__is-disabled--fqGLy .shared-css-global__Select-value-icon--2KCzG:hover,
.shared-css-global__Select--multi--15GUl.shared-css-global__is-disabled--fqGLy .shared-css-global__Select-value-icon--2KCzG:focus,
.shared-css-global__Select--multi--15GUl.shared-css-global__is-disabled--fqGLy .shared-css-global__Select-value-icon--2KCzG:active {
  background-color: #fcfcfc;
}
@keyframes shared-css-global__Select-animation-spin--1u0fq {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes shared-css-global__Select-animation-spin--1u0fq {
  to {
    -webkit-transform: rotate(1turn);
  }
}

