.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../shared/css/compose.css';
  @media $desktop {
    min-width: 50%;
    width: 100%;
  }
}

.detail {
  composes: contentArea from '../../shared/css/compose.css';
  flex-direction: unset;
  @media $tablet {
    width: calc(75% - 40px);
  }
}
