.title {
  margin: 55px 20px 75px;
  @media $tablet {
    margin: 60px 40px 1.5rem;
    max-width: calc(75% - 100px);
  }
}
.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../shared/css/global.css';
  @media $desktop {
    min-width: 50%;
    width: 100%;
  }
}
.detail {
  composes: contentArea from '../../shared/css/global.css';
  flex-direction: unset;
  @media $tablet {
    width: calc(75% - 40px);
  }
}
