.title {
  margin: 0;
}

.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../shared/css/global.css';
  @media $desktop {
    min-width: 50%;
    width: 100%;
  }
}


.detail {
  composes: contentArea from '../../shared/css/global.css';
  flex-direction: row;
  .section {
    margin-bottom: 26px;
    min-width: 25%;
    @media $xs_small {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media $tablet {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .mainContent {
    @media $tablet {
      margin-right: 40px;
      margin-top: 40px;
      width: 100%;
    }
  }
}

.sponsorCompanyContainer {
  display: flex;
  flex-wrap: wrap;
}
