.contentWrapper {
  composes: contentWrapper from '../../shared/css/global.css';
  @media $desktop {
    margin-left: 50%;
    width: 50%;
  }
}

.content {
  composes: contentArea from '../../shared/css/global.css';
  flex-direction: unset;
}

.detail {
  @media $tablet {
    width: calc(75% - 40px);
  }
}
