.contentWrapper {
  @media $desktop {
    display: flex;
  }
}
.content {
  composes: contentWrapper from '../../shared/css/global.css';
  @media $desktop {
    min-width: 50%;
  }
}
.title {
  composes: title from '../../shared/css/global.css';
}
.detail {
  composes: contentArea from '../../shared/css/global.css';
  flex-direction: unset;
  @media $tablet {
    width: calc(75% - 40px);
  }
}
